<div id="home">
  <div class="content">
    <h1 class="title" style="<%= styles.titulo ?? '' %>">
      <%= titulo %>
    </h1>

    <h2 class="subtitle" style="<%= styles.subtitulo ?? '' %>">
      <%= subtitulo %>
    </h2>

    <p class="message" style="<%= styles.mensagem ?? '' %>"><%= mensagem %></p>

    <a class="button bordered-button" href="#team" style="<%= styles.botao ?? '' %>">
      <%= botao %>
    </a>
  </div>
</div>
