<div id="home" style="<%= styles.pagina ?? '' %>">
  <div class="content">
    <img class="image" src="/img/<%= imagem %>" alt="COPA" style="<%= styles.imagem ?? '' %>;">

    <p class="message" style="<%= styles.mensagem ?? '' %>"><%= mensagem %></p>

    <a class="button bordered-button" href="#team" style="<%= styles.botao ?? '' %>">
      <%= botao %>
    </a>
  </div>
  <%- include('./components/divider.ejs', {styles: styles.divisor}) %>
</div>
