<div id="home">
  <div class="content">
    <img src="/img/12.png" style="<%= styles.titulo ?? '' %>; width: 14cm;" />

    <p class="message" style="<%= styles.mensagem ?? '' %>"><%= mensagem %></p>

    <a class="button bordered-button" href="#team" style="<%= styles.botao ?? '' %>">
      <%= botao %>
    </a>
  </div>
</div>
