<div id="team" style="<%= styles.pagina ?? '' %>">
  <div class="header">
    <h2 class="title" style="<%= styles.titulo %>">
      <%= titulo %>
    </h1>
  </div>
  <div class="professionals pure-g" style="<%= styles.profissionais ?? '' %>">
    <% for (const [index, prof] of profissionais.entries()) { %>
      <div
        class="professional pure-u-1 pure-u-md-1-3"
        style="<%= styles.profissional ?? '' %><%= (index === 0) ? (styles.primeiro_profissional ?? '') : ('') %><%= (index+1 === profissionais.length) ? (styles.ultimo_profissional ?? '') : ('') %>"
      >
        <img
          class="image pure-img"
          src="/img/<%= prof.foto %>"
          alt="foto"
        >
        <h3 class="name" style="<%= styles.nome ?? '' %>">
          <%= prof.nome %>
        </h3>
        <p class="graduation" style="<%= styles.formacao ?? '' %>">
          <%= prof.formacao %>
        </p>
        <p class="crp" style="<%= styles.crp ?? '' %>">
          <%= prof.crp %>
        </p>
        <a
          class="button bordered-button"
          href="https://wa.me/<%= prof.contato %>"
          target=_blank
          style="<%= styles.botao ?? '' %>"
        >
          <%= prof.botao %>
        </a>
      </div>
    <% } %>
  </div>
  <%- include('./components/divider.ejs', {styles: styles.divisor}) %>
</div>
